header,nav,article,section,footer,figure,figcaption{
    display: block;
}

body {
    background-image: url(images/dark-wood.jpg);
    background-color: white;
}

.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: white;
}

header {
    background-image: url(images/header.jpg);
    height: 160px;
}
h1 {
     text-indent: -9999px;
     height: 130px;
     width: 940px;
     margin: 0px;
 }
nav {
    height: 30px;
    margin: 0px;
    background-color: #aeaca8;
 }
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
nav a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li {
    display: inline;
}

nav li a:hover, nav li a.current {
    color: #000000;
}
section.crouse {
    width: 659px;
    float: left;
}
article {
    clear: both;
    overflow: auto;
    width: 100%;
}
article figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #000000;
}
/*aside {*/
    /*width: 230px;*/
    /*float: left;*/
/*}*/
