header,nav,article,section,footer,figure,figcaption{
    display: block;
}

body {
    background-image: url(images/dark-wood.jpg);
}

.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
}

header {
    background-image: url(images/header.jpg);
    height: 160px;
}
h1 {
     text-indent: -9999px;
     height: 130px;
     width: 940px;
     margin: 0px;
 }
nav {
    height: 30px;
    margin: 0px;
 }
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
