header,nav,article,section,footer,figure,figcaption{
    display: block;
}
body {
    background-image: url(images/dark-wood.jpg);
    background-color: #f9f8f6;
    color: #666666;
    font-family: Georgia,Times,Serif;
    line-height: 1.4em;
    margin: 0px;
}
.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: white;
}

header {
    background-image: url(images/header.jpg);
    height: 160px;
}
h1 {
     text-indent: -9999px;
     height: 130px;
     width: 940px;
     margin: 0px;
 }
nav,footer{
    height: 30px;
    margin: 0px;
    background-color: #aeaca8;
    color: #ffffff;
    clear: both;
 }
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
nav a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav li a:hover, nav li a.current {
    color: #000000;
}
section.crouse {
    width: 659px;
    float: left;
    border-right: 1px solid #eeeeee;
}
article {
    clear: both;
    overflow: auto;
    width: 100%;
}
article figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;
}
article figcaption {
    font-size: 90%;
    text-align: left;
    text-transform: capitalize;
}
article hgroup {
    margin-top: 40px;
}
article hgroup h2 {
    font-weight: normal;
    font-size: 1.5em;
    padding: 0px;
    margin: 10px 0px 5px 0px;
}
article hgroup h3 {
    color: #de6581;
    font-weight: normal;
    font-size: 1.17em;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;
}
aside h2 {
    font-size: 1.5em;
    font-weight: normal;
    color: #de6581;
    padding: 30px 0px 10px 0px;
    margin: 10px 0px 5px 0px;
}
aside section a {
    color: #de6581;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
    display: block;
}
aside section a:hover {
    color: #985d6a;
    background-color: #efefef;}
footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;
}
